
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-crop:before { content: '\e802'; } /* '' */
.icon-rouble:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-help:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\e80b'; } /* '' */
.icon-unlink:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-lock-open:before { content: '\e80e'; } /* '' */
.icon-lock-open-alt:before { content: '\e80f'; } /* '' */
.icon-eye:before { content: '\e810'; } /* '' */
.icon-eye-off:before { content: '\e811'; } /* '' */
.icon-attach:before { content: '\e812'; } /* '' */
.icon-bookmark:before { content: '\e813'; } /* '' */
.icon-bookmark-o:before { content: '\e814'; } /* '' */
.icon-thumbs-up:before { content: '\e815'; } /* '' */
.icon-thumbs-down:before { content: '\e816'; } /* '' */
.icon-quote-left:before { content: '\e817'; } /* '' */
.icon-quote-right:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-briefcase:before { content: '\e81a'; } /* '' */
.icon-list-bullet:before { content: '\e81b'; } /* '' */
.icon-list-numbered:before { content: '\e81c'; } /* '' */
.icon-picture:before { content: '\e81d'; } /* '' */
.icon-trash:before { content: '\e81e'; } /* '' */
.icon-trash-empty:before { content: '\e81f'; } /* '' */
.icon-doc:before { content: '\e820'; } /* '' */
.icon-docs:before { content: '\e821'; } /* '' */
.icon-folder:before { content: '\e822'; } /* '' */
.icon-folder-open:before { content: '\e823'; } /* '' */
.icon-folder-open-empty:before { content: '\e824'; } /* '' */
.icon-cog:before { content: '\e825'; } /* '' */
.icon-cog-alt:before { content: '\e826'; } /* '' */
.icon-resize-full-alt:before { content: '\e827'; } /* '' */
.icon-resize-full:before { content: '\e828'; } /* '' */
.icon-lightbulb:before { content: '\e829'; } /* '' */
.icon-clock:before { content: '\e82a'; } /* '' */
.icon-down-open:before { content: '\e82b'; } /* '' */
.icon-left-open:before { content: '\e82c'; } /* '' */
.icon-right-open:before { content: '\e82d'; } /* '' */
.icon-up-open:before { content: '\e82e'; } /* '' */
.icon-angle-left:before { content: '\e82f'; } /* '' */
.icon-angle-right:before { content: '\e830'; } /* '' */
.icon-angle-up:before { content: '\e831'; } /* '' */
.icon-angle-down:before { content: '\e832'; } /* '' */
.icon-award:before { content: '\e833'; } /* '' */
.icon-desktop:before { content: '\e834'; } /* '' */
.icon-globe:before { content: '\e835'; } /* '' */
.icon-cloud:before { content: '\e836'; } /* '' */
.icon-bold:before { content: '\e837'; } /* '' */
.icon-header:before { content: '\e838'; } /* '' */
.icon-italic:before { content: '\e839'; } /* '' */
.icon-medium:before { content: '\e83a'; } /* '' */
.icon-paragraph:before { content: '\e83b'; } /* '' */
.icon-align-left:before { content: '\e83c'; } /* '' */
.icon-align-center:before { content: '\e83d'; } /* '' */
.icon-align-right:before { content: '\e83e'; } /* '' */
.icon-align-justify:before { content: '\e83f'; } /* '' */
.icon-columns:before { content: '\e840'; } /* '' */
.icon-scissors:before { content: '\e841'; } /* '' */
.icon-book:before { content: '\e842'; } /* '' */
.icon-chart-line:before { content: '\e843'; } /* '' */
.icon-credit-card:before { content: '\e844'; } /* '' */
.icon-euro:before { content: '\e845'; } /* '' */
.icon-dollar:before { content: '\e846'; } /* '' */
.icon-shield:before { content: '\e847'; } /* '' */
.icon-cc-visa:before { content: '\e848'; } /* '' */
.icon-cc-mastercard:before { content: '\e849'; } /* '' */
.icon-dropbox:before { content: '\e84a'; } /* '' */
.icon-facebook:before { content: '\e84b'; } /* '' */
.icon-github:before { content: '\e84c'; } /* '' */
.icon-instagram:before { content: '\e84d'; } /* '' */
.icon-gplus:before { content: '\e84e'; } /* '' */
.icon-vkontakte:before { content: '\e84f'; } /* '' */
.icon-pencil:before { content: '\e850'; } /* '' */
.icon-twitter:before { content: '\e851'; } /* '' */
.icon-location:before { content: '\e852'; } /* '' */
.icon-cog-outline:before { content: '\e853'; } /* '' */
.icon-gift:before { content: '\e854'; } /* '' */
.icon-heart-empty:before { content: '\e855'; } /* '' */
.icon-heart:before { content: '\e856'; } /* '' */
.icon-comment:before { content: '\e857'; } /* '' */
.icon-chat:before { content: '\e858'; } /* '' */
.icon-emo-happy:before { content: '\e859'; } /* '' */
.icon-emo-wink:before { content: '\e85a'; } /* '' */
.icon-emo-wink2:before { content: '\e85b'; } /* '' */
.icon-emo-unhappy:before { content: '\e85c'; } /* '' */
.icon-emo-coffee:before { content: '\e85d'; } /* '' */