.navbar-contrast {
  border-radius: 0;
  margin-bottom: 0;

  .navbar-brand {
    padding-top: 5px;
  }

  background-color: @navbar-contrast-bg;
  border-color: @navbar-contrast-border;

  .navbar-nav {
    > li {
      padding-left: 3px;
      padding-right: 3px;

      > a {
        color: @navbar-contrast-link-color;

        &:hover,
        &:focus {
          color: @navbar-contrast-link-hover-color;
          background-color: @navbar-contrast-link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: @navbar-contrast-link-active-color;
          background-color: @navbar-contrast-link-active-bg;
        }
      }
    }

    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-contrast-link-active-bg;
        color: @navbar-contrast-link-active-color;
      }
    }

    .open .dropdown-menu {
      &:after {
        bottom: 100%;
        left: 33px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255,255,255,0);
        border-bottom-color: #fff;
        border-width: 5px;
      }
    }
  }

  .nav-circle-li {
    border-radius: 20px;
    background-color: @navbar-contrast-link-hover-bg !important;
    border: 1px solid @navbar-contrast-border;
    margin-top: 6px;
    padding: 8px 10px !important;

    &:hover {
      background-color: lighten(@navbar-contrast-link-hover-bg, 5%) !important;
      color: @navbar-contrast-link-hover-color !important;
    }
  }

  .form-control {
    border-radius: 20px;
    background-color: @navbar-contrast-link-hover-bg !important;
    border: 1px solid @navbar-contrast-border;
    color: rgba(255,255,255,.8);

    .form-control-focus(lighten(@navbar-contrast-link-hover-bg, 5%))
  }
}

.navbar-subnav {
  min-height: auto;

  .navbar-nav {
    > li {
      padding: 3px;

      > a {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fff;

        &:hover,
        &:focus {

        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {

        }
      }
    }
  }
  background: whitesmoke;
}

.nav-profile {
  .open .dropdown-menu:after {
    left: 117px !important;
  }

  .nav-profile--balance {
    padding: 10px 20px;
    margin-bottom: 5px;
    color: @color-white;
    background: @brand-danger;
    font-size: 18px;
    box-shadow: inset 0px -12px 25px -15px rgba(0,0,0,0.75);

    &.positive {
      background: @brand-success;
    }
    .icon-rouble {
      font-size: 14px;
    }
  }
}