.profile-block {
  .profile-photo {
	padding: 6px;
	display: inline-block;
	margin-bottom: 10px;
	border-radius: 999999px;

	img {
	  display: block;
	  max-width: 100%;
	  border-radius: 999999px;
	}
  }
}

