@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700&subset=cyrillic,latin);

@btn-font-weight:               300;
@font-family-sans-serif:        "Open Sans", Helvetica, Arial, sans-serif;

@text-color:                    #6a6c6f;
//@body-bg:                     #edf0f5;

@white:                         #fff;

@brand-primary:                 #003970;
@brand-success:                 #2ecc71;
@brand-info:                    #3498db;
@brand-warning:                 #ffad1c;
@brand-danger:                  #e74c3c;

@link-color:                    @brand-primary;

@state-success-bg:              lighten(@brand-success, 20%);
@state-info-bg:                 lighten(@brand-info, 20%);
@state-warning-bg:              @brand-warning;
@state-danger-bg:               lighten(@brand-danger, 20%);


@state-success-text:            @white;
@state-info-text:               @white;
@state-warning-text:            @white;
@state-danger-text:             darken(@brand-danger, 15%);


@headings-font-weight:          300;

@border-radius-base:            0;
@border-radius-large:           0;
@border-radius-small:           0;

// Panel content padding
@panel-content-padding:         20px;
@panel-content-padding-sm:      15px;
@panels-border-color:           @table-border-color;
@panel-heading-bg:              #fafafa;


// Breadcrumbs
@breadcrumb-padding-vertical:   2px;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg:                 #fff;

// Pagination
//@pagination-color:              #
@pagination-bg:                 whitesmoke;
@pagination-border:             #fff;
@pagination-disabled-border:    @pagination-border;

// Navbar
@navbar-default-bg:             #fff;