@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700&subset=cyrillic,latin);

@btn-font-weight:               300;
@font-family-sans-serif:        "Open Sans", Helvetica, Arial, sans-serif;

@text-color:                    #6a6c6f;
//@body-bg:                     #edf0f5;

@color-white:                   #fff;

@brand-primary:                 rgba(65,36,92,1);
@brand-success:                 #00b839;
@brand-info:                    #4795de;
@brand-warning:                 #ffad1c;
@brand-danger:                  #e74c3c;

@link-color:                    @brand-primary;

// Alerts
@alert-padding:                 15px;
@alert-border-radius:           @border-radius-base;
@alert-link-font-weight:        bold;

@alert-success-bg:              darken(@brand-success,  10%);
@alert-success-text:            @color-white;
@alert-success-border:          darken(@brand-success,  15%);

@alert-info-bg:                 @brand-info;
@alert-info-text:               @color-white;
@alert-info-border:             darken(@brand-info,  5%);

@alert-warning-bg:              darken(@brand-warning,  10%);
@alert-warning-text:            @color-white;
@alert-warning-border:          darken(@brand-warning,  15%);

@alert-danger-bg:               darken(@brand-danger,  10%);
@alert-danger-text:             @color-white;
@alert-danger-border:           darken(@brand-danger,  15%);


@headings-font-weight:          600;

@border-radius-base:            0;
@border-radius-large:           0;
@border-radius-small:           0;

// Panel content padding
@panel-content-padding:         20px;
@panel-content-padding-sm:      15px;
@panels-border-color:           @table-border-color;
@panel-heading-bg:              #fafafa;


// Breadcrumbs
@breadcrumb-padding-vertical:   2px;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg:                 #fff;

// Pagination
//@pagination-color:              #
@pagination-bg:                 whitesmoke;
@pagination-border:             #fff;
@pagination-disabled-border:    @pagination-border;

// Navbar
@navbar-default-bg:             #fff;

// Footer
@footer-bg:                     desaturate(@brand-primary, 15%);