@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700&subset=cyrillic,latin);

@btn-font-weight: 300;
@font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

@text-color: #6a6c6f;
@body-bg: #edf0f5;

@brand-primary:         #34495e;
@brand-success:         #62cb31;
@brand-info:            #3498db;
@brand-warning:         #ffb606;
@brand-danger:          #e74c3c;

@state-success-text:             @brand-success;
@state-info-text:                @brand-info;
@state-warning-text:             @brand-warning;
@state-danger-text:              @brand-danger;


@headings-font-weight:    300;

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

// Panel content padding
@panel-content-padding: 20px;
@panel-content-padding-sm: 15px;
@panels-border-color: @table-border-color;
@panel-heading-bg: #fafafa;

//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   2px;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg:                 #fff;