.blog-tags {
  margin-bottom: 0;
}

.blog-tags li {
  padding-left: 0;
  padding-right: 0;
}

.blog-tags li a {
  border: 1px solid #eee;
  padding: 2px 5px;
  line-height: 10px;
  font-size: 11px;
  background: #fff;
  color: #666;
}

.blog-tags li a:hover {
  border-color: #d6941e;
  color: #d6941e;
}

.blog-tags .label {

  display: inline-block;
  margin-bottom: 3px;
}

/*Blog Comments
------------------------------------*/
/** Comments
 **************************************************************** **/
.comments {
  .comment-item {
    margin: 0 0 30px;
  }

  a.comment-reply {
    float: right;
    font-size: 11px;
    text-transform: uppercase;
  }

  span.user-avatar {
    background: #eee;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 10px;
  }

  small {
    font-size: 12px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #aaa;
  }

  h4 {
    font-size: 15px;
  }
}