/* social icons */
a.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 0 1px 0;
  text-decoration: none;
  transition: all 0.2s;

  &.fa-twitter:hover {
    background: #41b7d8 !important;
    color: #fff !important;
  }
  &.fa-facebook:hover {
    background: #3b5997 !important;
    color: #fff !important;
  }
  &.fa-google-plus:hover {
    background: #d64937 !important;
    color: #fff !important;
  }
  &.fa-linkedin:hover {
    background: #0073b2 !important;
    color: #fff !important;
  }
  &.fa-flickr:hover {
    background: #ff0084 !important;
    color: #fff !important;
  }
  &.fa-pinterest:hover {
    background: #cb2027 !important;
    color: #fff !important;
  }
  &.fa-rss:hover {
    background: #e0812a !important;
    color: #fff !important;
  }
  &.default:hover {
    background: #37353A !important;
    color: #fff !important;
  }
  &.rounded {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

